{{ define "main" }}
<p>
  <a href="https://www.civictech.ie" class="logo">CivicTech·ie</a> uses
  technology to facilitate and encourage engagement with democracy and
  community. Some things we&rsquo;ve worked on include
  <a href="https://www.counciltracker.ie">counciltracker.ie</a>,
  <a href="https://neighbourhoods.dublininquirer.com"
    >dublin neighbourhood mapping project</a
  >,
  <a href="https://www.dublininquirer.com/projects/elections/2019-local"
    >dublin inquirer&rsquo;s election guide</a
  >, <a href="https://waste.civictech.ie">waste.civictech.ie</a>, a
  <a href="https://priceregister.civictech.ie">property price register API</a>.
</p>
<p>
  You can get involved or in touch by emailing
  <a href="mailto:info@civictech.ie">info@civictech.ie</a>.
</p>
{{ end }}
